<p class="mx-auto" style="width: 1200px;"> La Rompecabecería te acompaña desde hace más de 20 años, con rompecabezas de 2 a 40.320 piezas,
    en una amplia variedad de temas para toda la familia.
</p>
<p class="mx-auto" style="width: 1200px;"> 
    Brindamos asesoramiento en el momento de la elección del puzzle correcto según tus gustos y necesidades.
</p>
<p class="mx-auto" style="width: 1200px;"> 
    Podés ver todo nuestro completo catálogo On Line y hacer tus pedidos que podrás abonar con tarjeta de crédito 
    a través de un servidor seguro de Mercado Pago o por Transferencia Bancaria.
</p>
<p class="mx-auto" style="width: 1200px;"> 
    Hacemos envíos a todo el país por Correo Argentino dentro de las 48 hs. hábiles, 
    para que los recibas en la comodidad de tu casa.
</p>