<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/puzzles']">Rompecabezas por tema</a>
        <a class="nav-link" href="#">Rompecabezas por nº de piezas</a>
        <a class="nav-link" href="#">Rompecabezas por marca</a>
        <a class="nav-link" href="#">Accesorios</a>
        <a class="nav-link" href="#" [routerLink]="['/about']">Sobre nosotros</a> 
      </div>
    </div>
  </div>
</nav>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Paisajes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mapas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Infantiles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Arte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Peliculas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Varios</a>
  </li>
</ul>

<div>
  <router-outlet ></router-outlet>
</div>

<!--<footer>{{title}} - Todos los derechos reservados</footer>-->